{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div>
    <button><a href="signup">회원가입</a></button>
    <button><a href="login">로그인</a></button>
    <button><a href="logout">로그아웃</a></button>
</div>
{% if user.is_authenticated %}
<h1>블로그 게시판 화면</h1>
<h4>{{ user.username }}</h4>
<a href="{% url 'post:write' %}"><input type="button" value="글 작성"></a>
<ul>
    {% for post in posts %}
        <li><a href="{% url 'post:detail' id=post.id %}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>로그인 해주세요</p>
{% endif %} 
{% endblock %}